<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <script type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
<select name="per_page"><option selected value=20>20</option><option value=40>40</option></select>
<select name="page" @change="onchange()"  v-model="key" >
    {% for page in pages %}
    <option value={{page}}>{{page}}</option>
    {% endfor %}
</select>
    <table border="1">
        <tr>
            <th>Дата</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Расстояние</th>
        </tr>
        {% include 'table.html' %}
    </table>
</body>
</html>